[Unit]
After=network.target
Description=Ember agents service (staging)

[Service]
ExecStartPre=/bin/bash -c 'mv /var/log/ember-agents-stage/output.log /var/log/ember-agents-stage/output-$$(date -Is).log; mv /var/log/ember-agents-stage/error.log /var/log/ember-agents-stage/error-$$(date -Is).log'
ExecStart=/opt/ember-agents/scripts/staging.bash
StandardOutput=file:/var/log/ember-agents-stage/output.log
StandardError=file:/var/log/ember-agents-stage/error.log

[Install]
WantedBy=multi-user.target
